{% extends "company_index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/newapp/view_vaccancy_request_from_user2_post/">
  <table align="left">

    <tr>
      <td rowspan="2"><img src="{{ data.image}}" height="50" width="50"/></td>
      <td>Name</td>
      <td>{{data.name}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{data.district}}<br>
        {{data.city}}<br>
        {{data.pin}}<br>
        {{data.phone}}<br>
        {{data.email}}<br>
      </td>

    </tr>
  </table>

  <table class="table table-bordered">
    <tr>
      <td colspan="2">Skills</td>
    </tr>
    <tr>
      <td>sl.no.</td>
      <td>Skillname</td>
    </tr>
    {% for i in skill_obj %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{i.SKILL.skill}}</td>
    </tr>
    {% endfor %}
  </table>
  <table class="table table-bordered">
    <tr>
      <td colspan="2">Previous works </td>
    </tr>
    
    <tr>
      <td>sl.no.</td>
      <td>Works</td>
    </tr>
  {% for i in works_obj %}
    <tr>
      <td>{{ forloop.counter}}</td>

      <td><img src="{{i.works_image}}" height="50" width="50"/><br>
        {{ i.title}}<br>
        {{ i.description}}<br>
        {{ i.amount}}<br>



      </td>
    </tr>
  {% endfor %}
  </table>

  <table class="table table-bordered">
    <tr>
      <td><input type="submit" name="Submit" value="Accept" class="btn btn-success" /><input type="hidden" name="reqid" value="{{reqid}}" /></td>
      <td><input type="submit" name="Submit" value="Reject" class="btn btn-danger"  onclick="return confirm('Are you sure to reject?')"/></td>
    </tr>
  </table>
<table align="right">
  {% if resume_path != " " %}
    <a href="{{resume_path}}" class="btn btn-success"download>Download Resume</a>
    {% endif %}
</table>
  {#<table width="200" border="1">#}
    {#<tr>#}
      {#<td><input type="submit" name="Submit2" value="Download" /></td>#}
    {#</tr>#}
  {#</table>#}
  <p>&nbsp;</p>
</form>
{% endblock %}
