{% extends "company_index.html" %}
{% block body %}
<form method="post" action="/newapp/view_vaccancy_post/">
<table  class="pull-right">
    <tr>
        <td><input type="text" value="" name="title" class="form-control" placeholder="Title" > </td>
        <td><input type="submit" value="search" name="bt" class="btn btn-success" ></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <td>sl.no</td>
    
    <td>Title</td>
    <td>Description</td>
    
    <td>Apply before </td>
    
  </tr>
  
  
  {% for i in data%}
  <tr>
    <td>{{ forloop.counter }}</td>
    
    <td>{{ i.title}}</td>
    <td>{{ i.description}}</td>
    <td>{{ i.date}}</td>
    
    <td><a href="/newapp/skill_management/{{i.id}}" class="btn btn-info">Skills</a></td>
    <td><a href="/newapp/company_edit_view_vaccancy/{{i.id}}" class="btn btn-info">Edit</a></td>
    
    <td><a href="/newapp/company_delete_vaccancy/{{i.id}}" class="btn btn-danger">Delete</a></td>
  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}